# Referential Integrity

In [2]:
import sqlite3

In [3]:
db=sqlite3.connect('e:/mysqlite/coursedata.db')

In [4]:
cur=db.cursor()

In [5]:
cur.execute('create table course(courseid int primarykey,coursename text,course_duration int)')

OperationalError: table course already exists

In [6]:
cur.execute("create table student(stuid int primary key,stuname text,age int,courseid int,foreign key(courseid) references course(courseid))")

OperationalError: table student already exists

In [8]:
cur.execute('insert into course values(401,"java",06),(201,"datascience",12),(701,"python",04),(504,"Flutter",15)')
db.commit()

In [9]:
cur.execute('insert into student values(001,"shrey",20,201),(002,"pri",60,401),(003,"rish",30,401),(004,"Roni",20,504),(005,"choto",20,701)')
db.commit()

In [19]:
result=cur.execute('select * from student')
result.fetchall()

[(1, 'shrey', 20, 201),
 (2, 'pri', 60, 401),
 (3, 'rish', 30, 401),
 (4, 'Roni', 20, 504),
 (5, 'choto', 20, 701),
 (6, 'skdkkc', 20, 402),
 (7, 'dsbdb', 30, 301),
 (8, 'bjhb', 25, 504)]

In [20]:
result=cur.execute('select * from course')
result.fetchall()

[(401, 'java', 6),
 (201, 'datascience', 12),
 (701, 'python', 4),
 (504, 'Flutter', 15),
 (401, 'java', 6),
 (201, 'datascience', 12),
 (701, 'python', 4),
 (504, 'Flutter', 15),
 (101, 'english', 2),
 (301, 'bengali', 2),
 (402, 'math', 4)]

In [13]:
cur.execute('insert into course values(101,"english",02),(301,"bengali",02),(402,"math",04)')

In [14]:
db.commit()

In [16]:
cur.execute('insert into student values(006,"skdkkc",20,402),(007,"dsbdb",30,301),(008,"bjhb",25,504)')

In [18]:
db.commit()

In [20]:
result="SELECT student.stuid, student.stuname, course.courseid, course.coursename FROM student INNER JOIN course ON student.courseid = course.courseid"
sql=cur.execute(result)
sql.fetchall()

[(1, 'shrey', 201, 'datascience'),
 (1, 'shrey', 201, 'datascience'),
 (2, 'pri', 401, 'java'),
 (2, 'pri', 401, 'java'),
 (3, 'rish', 401, 'java'),
 (3, 'rish', 401, 'java'),
 (4, 'Roni', 504, 'Flutter'),
 (4, 'Roni', 504, 'Flutter'),
 (5, 'choto', 701, 'python'),
 (5, 'choto', 701, 'python'),
 (6, 'skdkkc', 402, 'math'),
 (7, 'dsbdb', 301, 'bengali'),
 (8, 'bjhb', 504, 'Flutter'),
 (8, 'bjhb', 504, 'Flutter')]

In [6]:
result="SELECT student.stuid, student.stuname, course.courseid, course.coursename FROM course INNER JOIN student ON course.courseid = student.courseid"
sql=cur.execute(result)
sql.fetchall()

[(2, 'pri', 401, 'java'),
 (3, 'rish', 401, 'java'),
 (1, 'shrey', 201, 'datascience'),
 (5, 'choto', 701, 'python'),
 (4, 'Roni', 504, 'Flutter'),
 (8, 'bjhb', 504, 'Flutter'),
 (2, 'pri', 401, 'java'),
 (3, 'rish', 401, 'java'),
 (1, 'shrey', 201, 'datascience'),
 (5, 'choto', 701, 'python'),
 (4, 'Roni', 504, 'Flutter'),
 (8, 'bjhb', 504, 'Flutter'),
 (7, 'dsbdb', 301, 'bengali'),
 (6, 'skdkkc', 402, 'math')]

In [14]:
result="SELECT student.stuid, student.stuname, course.courseid, course.coursename FROM student LEFT JOIN course ON student.courseid = course.courseid"
sql=cur.execute(result)
sql.fetchall()

[(1, 'shrey', 201, 'datascience'),
 (1, 'shrey', 201, 'datascience'),
 (2, 'pri', 401, 'java'),
 (2, 'pri', 401, 'java'),
 (3, 'rish', 401, 'java'),
 (3, 'rish', 401, 'java'),
 (4, 'Roni', 504, 'Flutter'),
 (4, 'Roni', 504, 'Flutter'),
 (5, 'choto', 701, 'python'),
 (5, 'choto', 701, 'python'),
 (6, 'skdkkc', 402, 'math'),
 (7, 'dsbdb', 301, 'bengali'),
 (8, 'bjhb', 504, 'Flutter'),
 (8, 'bjhb', 504, 'Flutter')]

In [15]:
result="SELECT student.stuid, student.stuname, course.courseid, course.coursename FROM course LEFT JOIN student ON student.courseid = course.courseid"
sql=cur.execute(result)
sql.fetchall()

[(2, 'pri', 401, 'java'),
 (3, 'rish', 401, 'java'),
 (1, 'shrey', 201, 'datascience'),
 (5, 'choto', 701, 'python'),
 (4, 'Roni', 504, 'Flutter'),
 (8, 'bjhb', 504, 'Flutter'),
 (2, 'pri', 401, 'java'),
 (3, 'rish', 401, 'java'),
 (1, 'shrey', 201, 'datascience'),
 (5, 'choto', 701, 'python'),
 (4, 'Roni', 504, 'Flutter'),
 (8, 'bjhb', 504, 'Flutter'),
 (None, None, 101, 'english'),
 (7, 'dsbdb', 301, 'bengali'),
 (6, 'skdkkc', 402, 'math')]