In [3]:
import sqlite3

In [4]:
db=sqlite3.connect("E:/mysqlite/new_employee.db")

In [5]:
cur=db.cursor()

In [4]:
cur.execute('create table new_employee(empcode int primary key,name text,marks int)')
db.commit()

OperationalError: table new_employee already exists

INSERTING RECORDS FROM CSV FILE

In [ ]:
with open('E:/mysqlite/newemployee.csv','r') as file:
    total_records=0
    for row in file:
        cur.execute('insert into new_employee values (?,?,?)',row.split(","))
        db.commit()
        total_records+=1
print(total_records, "Rows Insert")

In [ ]:
result=cur.execute('select * from new_employee')
result.fetchall()

In [17]:
import sqlite3

In [18]:
db=sqlite3.connect("E:/mysqlite/sports.db")

In [19]:
cur=db.cursor()

In [11]:
cur.execute('create table sports (sportsid int primary key,Sportname text unique, dateofevent date,country text not null)')
db.commit()

OperationalError: table sports already exists

In [12]:
with open('E:/mysqlite/practice.csv','r') as file:
    total_records=0
    for row in file:
        cur.execute('insert into sports values (?,?,?,?)',row.split(","))
        db.commit()
        total_records+=1
print(total_records, "Rows Insert")

IntegrityError: UNIQUE constraint failed: sports.Sportname

In [13]:
result=cur.execute('select * from sports')
result.fetchall()

[(101, 'cricket', '1999-06-21', 'india\n'),
 (102, 'football', '2001-05-10', 'kolkata\n'),
 (103, 'tennis', '2002-05-11', 'japan\n'),
 (104, 'voliball', '2003-04-15', 'kerala'),
 (105, 'basketball', '2022-6-18', 'Keniya'),
 (106, 'kabadi', '2022-6-18', 'india'),
 (107, 'Golf', '2022-6-18', 'Australia')]

In [14]:
cur.execute("delete from sports where sportsid=105")
db.commit()

In [15]:
cur.execute('insert into sports values (105,"basketball","2022-6-18","Keniya")')
db.commit()

In [20]:
cur.execute('insert into sports values (106,"kabadi","2022-6-18","india")')
db.commit()

In [22]:
cur.execute('insert into sports values (107,"Golf","2022-6-18","Australia")')
db.commit()

In [16]:
result=cur.execute('select * from sports')
result.fetchall()

[(101, 'cricket', '1999-06-21', 'india\n'),
 (102, 'football', '2001-05-10', 'kolkata\n'),
 (103, 'tennis', '2002-05-11', 'japan\n'),
 (104, 'voliball', '2003-04-15', 'kerala'),
 (106, 'kabadi', '2022-6-18', 'india'),
 (107, 'Golf', '2022-6-18', 'Australia'),
 (105, 'basketball', '2022-6-18', 'Keniya')]

In [20]:
cur.execute('create table sports1 (sportsid int primary key,Sportname text unique, dateofevent date,country text not null)')
db.commit()

In [22]:
with open('E:/mysqlite/practice.csv','r') as file:
    total_records=0
    for row in file:
        cur.execute('insert into sports1 values (?,?,?,?)',row.split(","))
        db.commit()
        total_records+=1
print(total_records, "Rows Insert")

4 Rows Insert