In [1]:
import sqlite3

In [2]:
dbcon=sqlite3.connect('testdatabase.db')

In [3]:
cur=dbcon.cursor()

In [4]:
cur.execute('create table student(rollno int primary key,name text,marks int)')

OperationalError: table student already exists

In [6]:
cur.execute('insert into student(rollno,name,marks) values(001,"Shreyasi",80)')

In [7]:
cur.execute('insert into student(rollno,name,marks) values(002,"Rajdeep",70)

SyntaxError: EOL while scanning string literal (Temp/ipykernel_11104/2450764318.py, line 1)

In [ ]:
cur.execute('insert into student(rollno,name,marks) values(003,"Saikat",90)')

In [ ]:
cur.execute('insert into student(rollno,name,marks) values(004,"Shreetama",60)')

In [ ]:
cur.execute('insert into student(rollno,name,marks) values(005,"Mohuya",75)')

In [ ]:
cur.execute('insert into student(rollno,name,marks) values(006,"Rishita",50)')

In [ ]:
cur.execute('insert into student values(007,"roni",40)')

In [ ]:
cur.execute('insert into student values(008,"Debraj",70)')

In [ ]:
cur.execute('insert into student values(009,"Sayan",90)')

In [ ]:
result=cur.execute('select * from Student')
for i in result:
    print(i)

In [ ]:
result=cur.execute('select name from Student')

for i in result:
    print(i)

In [ ]:
result=cur.execute('select rollno from Student')

for i in result:
    print(i)

In [ ]:
result=cur.execute('select marks from Student')

for i in result:
    print(i)

In [ ]:
result=cur.execute('select name,marks from Student')

for i in result:
    print(i)

In [ ]:
result=cur.execute('select rollno,marks from Student')

for i in result:
    print(i)

In [ ]:
result=cur.execute('select * from Student where rollno=001')

for i in result:
    print(i)

In [ ]:
result=cur.execute('select name from Student where rollno=001')

for i in result:
    print(i)

In [ ]:
result=cur.execute('select marks from Student where rollno=001')

for i in result:
    print(i)

In [ ]:
result=cur.execute('select name,marks from Student where rollno=005')

for i in result:
    print(i)

In [ ]:
results=cur.execute('select * from Student where name="Rajdeep"')

results.fetchone()

In [ ]:
result=cur.execute('select * from Student where name="Rajdeep"')

for i in result:
    print(i)

In [ ]:
result=cur.execute('select rollno from Student where name="Rishita"')

for i in result:
    print(i)

In [ ]:
results=cur.execute('select marks from Student where name="Rajdeep"')

results.fetchone()

In [ ]:
result=cur.execute('select * from Student where name="Saikat"')
result.fetchall()

In [ ]:
result=cur.execute('select name from Student where name="Saikat"')
result.fetchall()

In [ ]:
result=cur.execute('select rollno,marks from Student where name="Saikat"')
result.fetchall()

In [ ]:
print(cur.rowcount, "record(s)Inserted")

In [5]:
result=cur.execute('select * from student where marks between 20 and 90')
result.fetchall()

[]