In [9]:
import sqlite3

In [10]:
db=sqlite3.connect('empdatabase.db')

In [11]:
cur=db.cursor()

In [12]:
cur.execute('insert into employee(empcode,name,branch,salary) values(101,"jhon","Kolkata",50000.00)')

IntegrityError: UNIQUE constraint failed: employee.empcode

In [ ]:
cur.execute('insert into employee(empcode,name,branch,salary) values(102,"Richard","Durgapur",45000.00)')

In [ ]:
cur.execute('insert into employee(empcode,name,branch,salary) values(103,"David","Mumbai",40000.00)')

In [ ]:
cur.execute('insert into employee(empcode,name,branch,salary) values(104,"jeams","bangalore",20000.00)')

In [ ]:
cur.execute('insert into employee(empcode,name,branch,salary) values(105,"jonyshingh","usa",100000.00)')

In [ ]:
cur.execute('insert into employee(empcode,name,branch,salary) values(106,"jash","pune",60000.00)')

In [ ]:
cur.execute('insert into employee(empcode,name,branch,salary) values(107,"joli","chennai",70000.00)')

In [ ]:
cur.execute('insert into employee(empcode,name,branch,salary) values(108,"joky","kashmir",90000.00)')

In [31]:
print(cur.rowcount, "Records Inserted")

-1 Records Inserted

In [13]:
result=cur.execute('select * from employee')
for i in result:
    print(i)

(101, 'jhon', 'Kolkata', 50000.0)
(102, 'Richard', 'Durgapur', 45000.0)
(103, 'David', 'Mumbai', 40000.0)
(104, 'jeams', 'bangalore', 20000.0)
(105, 'jonyshingh', 'usa', 100000.0)
(106, 'jash', 'pune', 60000.0)
(107, 'joli', 'chennai', 70000.0)

In [14]:
result=cur.execute('select name from employee')
for i in result:
    print(i)

('jhon',)
('Richard',)
('David',)
('jeams',)
('jonyshingh',)
('jash',)
('joli',)

In [15]:
result=cur.execute('select empcode from employee')
for i in result:
    print(i)

(101,)
(102,)
(103,)
(104,)
(105,)
(106,)
(107,)

In [16]:
result=cur.execute('select branch from employee')
for i in result:
    print(i)

('Kolkata',)
('Durgapur',)
('Mumbai',)
('bangalore',)
('usa',)
('pune',)
('chennai',)

In [17]:
result=cur.execute('select empcode from employee where name="jeams"')
for i in result:
    print(i)

(104,)

In [20]:
result=cur.execute('select empcode,branch from employee where name="jeams"')
result.fetchall()

[(104, 'bangalore')]

In [26]:
result=cur.execute('select * from employee where name="jeams"')
result.fetchone()

(104, 'jeams', 'bangalore', 20000.0)

In [27]:
result=cur.execute('select empcode,branch,salary from employee where name="joli"')
result.fetchall()

[(107, 'chennai', 70000.0)]

In [30]:
result=cur.execute('select * from employee where salary between 20000 and 70000')
result.fetchone()

(101, 'jhon', 'Kolkata', 50000.0)

In [24]:
result=cur.execute('select * from employee')
result.fetchall()

[(101, 'jhon', 'Kolkata', 50000.0),
 (102, 'Richard', 'Durgapur', 45000.0),
 (103, 'David', 'Mumbai', 40000.0),
 (104, 'jeams', 'bangalore', 20000.0),
 (105, 'jonyshingh', 'usa', 100000.0),
 (106, 'jash', 'pune', 60000.0),
 (107, 'joli', 'chennai', 70000.0)]