In [2]:
help(sum)

Help on built-in function sum in module builtins:

sum(iterable, /, start=0)
    Return the sum of a 'start' value (default: 0) plus an iterable of numbers

    When the iterable is empty, return the start value.
    This function is intended specifically for use with numeric values and may
    reject non-numeric types.

In [1]:
s=[215,30,40,60,885,1000]
s

[215, 30, 40, 60, 885, 1000]

In [2]:
min(s)

30

# user defined function

In [3]:
def function1():
    print("learning function")

In [4]:
function1()

learning function

In [5]:
def function2():
    print("function ios created")

In [6]:
function2()

function ios created

In [7]:
def addition():
    a=int(input("enter any number"))
    b=int(input("enter any number"))
    c=a+b
    print("The Addition is=", c)

In [8]:
addition()

enter any number20
enter any number20
The Addition is= 40

In [9]:
def addition1():
    a=20
    b=25
    c=a+b
    print("the sum of number is", c)

In [10]:
addition1()

the sum of number is 45

In [11]:
def substraction():
    a=int(input("enter any number"))
    b=int(input("enter any number"))
    c=a-b
    print("The substraction is=", c)

In [12]:
substraction()

enter any number20
enter any number20
The substraction is= 0

In [13]:
def powerfunction():
    a=int(input("enter any number"))
    print("the square of", a ,"is", a**2)

In [14]:
powerfunction()

enter any number2
the square of 2 is 4

In [15]:
def shreyasi():
    a=int(input("enter any Value =  "))
    b=5
    c=a*b
    print("The multiply of two numbers" ,c)

In [16]:
shreyasi()

enter any Value =  4
The multiply of two numbers 20

In [17]:
def x():
    a=int(input("enter the number"))
    print("the cube of",a,"is",a**3)

In [18]:
x()

enter the number5
the cube of 5 is 125

In [19]:
def rajdeep():
    l=int(input("enter any lenght"))
    w=int(input("enter any weidth"))
    x=l*w
    print("area of rectangle",x)

In [20]:
rajdeep()

enter any lenght54
enter any weidth5
area of rectangle 270

In [21]:
def circle_area():
    pi=3.14
    r=int(input("enter radius value"))
    c=pi*r**2
    print("area of circle",c)

In [22]:
circle_area()

enter radius value5
area of circle 78.5

# parametric function

In [23]:
def addition2(a,b):
    c=a+b
    print("the value of c=",c)

In [24]:
a=5
b=6
addition2(a,b)

the value of c= 11

In [47]:
a=100
b=200
addition2(a,b)

the value of c= 300

In [25]:
def multyfuction(a,b):
    c=a*b
    print("the value of c=",c)

In [26]:
a=10
b=6
multyfuction(a,b)

the value of c= 60

In [49]:
a=2
b=10
multyfuction(a,b)

the value of c= 20

In [72]:
def circlefunction(r):
    x=pi*(r**2)
    print("the circle value x is ",x)

In [73]:
pi=3.14
r=3
circlefunction(r)

the circle value x is  28.26

In [76]:
def rectanglefuntion(length,weidth):
    y=length*weidth
    print("the value rentangle is",y)

In [77]:
length=20
weidth=5
rectanglefuntion(length,weidth)

the value rentangle is 100

In [27]:
def runfor_fuction():
    for i in range(1,11):
        print(i)

In [28]:
 runfor_fuction()

1
2
3
4
5
6
7
8
9
10

In [29]:
def add():
    a=10
    b=6
    c=a*b
    print("the add value is=",c)

In [30]:
add()

the add value is= 60

In [32]:
a

10

In [31]:
def add():
    a=int(input("enter any value"))
    b=int(input("enter any value"))
    c=a*b
    print(c)

In [34]:
add()

enter any value5
enter any value5
25

In [33]:
b

6

In [93]:
def testf():
    p=222
    print(p)

222

In [90]:
testf()

222

In [94]:
p

222

In [38]:
def substractor():
    a=30
    b=20
    result=a-b
    return result

In [39]:
result=substractor()

In [40]:
result

10

In [87]:
def add():
    a=20
    b=6
    result=a+b
    return result

In [88]:
result

26

In [81]:
res=add()

In [89]:
add()

26

In [86]:
res

26

In [107]:
def myfunc1(list1):
    for i in list1:
        print(i)

In [108]:
list1=[101,202,303,404,505]

myfunc1(list1)

101
202
303
404
505

In [111]:
def fruitfucntion(list2):
    for i in list2:
         print(i)

In [113]:
list2=["apple","beer","brocode","kingfisher","vodka"]
fruitfucntion(list2)

apple
beer
brocode
kingfisher
vodka

In [10]:
def myfunc2():
    for i in range(2,15):
        print(i)

In [11]:
myfunc2()

2
3
4
5
6
7
8
9
10
11
12
13
14

In [1]:
def myfunc3():
    for i in range(15):
        print(i)

In [2]:
myfunc3()

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14

In [15]:
def myfunc4():
    for i in range(5,30,3):
        print(i)

In [16]:
myfunc4()

5
8
11
14
17
20
23
26
29

In [1]:
def myfunc5():
    for i in range(5,30):
        if (i==15):
            return
        print(i)

In [2]:
myfunc5()

5
6
7
8
9
10
11
12
13
14

In [20]:
def myfunc6():
    for i in range(5,30,3):
        if (i==15):
            return
        print(i)

In [21]:
myfunc6()

5
8
11
14
17
20
23
26
29

In [22]:
print("podu")

podu

In [26]:
def squaref():
    s=7*7
    return s
    print("the value of s is",s)

In [27]:
squaref()

49

In [ ]:
def squaref():
    s=7*7
    return 
    print("the value of s is",s)

In [28]:
squaref()

49

In [29]:
def innerfunction():
    print("kolkata is a big city")

In [35]:
def outerfunction():
    innerfunction()

In [36]:
outerfunction()

kolkata is a big city

In [37]:
def outerfunction():
    print("lalgola is a smaill town")

In [38]:
def innerfunction():
    outerfunction()

In [39]:
innerfunction()

lalgola is a smaill town

GLOBAL AND LOCAL VARIABLE

In [1]:
p=900 #global variable

In [2]:
p

900

In [3]:
def testvar():
    p=78 #local variable
    print(p)

In [4]:
testvar()

78

In [5]:
p

900

In [14]:
def testvar1():
    global p
    print(p)
    p=50
    print(p)

In [16]:
testvar1()

900
50

In [17]:
p

50

In [22]:
def add1(a,b):
    result=a+b
    print(result)

In [23]:
a=20
b=5
add1(a,b)

25

In [24]:
add1(20,30)

50

In [34]:
def add2(a,b,c):
    result=a+b+c
    print(result)

In [35]:
add2(2,6,10)

18

In [42]:
def jogfunction(*args):
    return sum(args)

In [43]:
 jogfunction(2,4,5,6,9,4)

30

In [44]:
 jogfunction(30,50,100)

180

In [46]:
def sfunction(*args):
    return max(args)

In [47]:
sfunction(30,80,50,100,254,14,60,5)

254

In [50]:
def mfunction(*args):
    return min(args)

In [51]:
mfunction(5,10,53,766.855,255,100,10)

5

In [9]:
def sumfunc(*numbers):
    s=0
    for n in numbers:
        s=s+n
    return s

In [10]:
print (sumfunc(5,6,7))

18

In [17]:
def subfunc(*numbers):
    s=0
    for n in numbers:
        s=n-s
    return s

In [18]:
subfunc(15,25)

10

lamda function

In [20]:
p=lambda s:(s**2)

In [21]:
p(5)

25

In [24]:
cube=lambda x:x**3

In [25]:
cube(4)

64

In [34]:
num1=(lambda x:x/3)

In [38]:
round(num1(100))

33

In [40]:
s=lambda x:x*3

In [41]:
s(20)

60

In [43]:
b=lambda x:x/4

In [45]:
round(b(20))

5

In [22]:
squareroot=lambda x:x**(1/2)

In [24]:
squareroot(64)

8.0

In [16]:
squareroot(25)

5.0

In [20]:
cuberoot=lambda x:x**(1/3)

In [21]:
cuberoot(125)

5.0

In [12]:
t=lambda x,y,z:(x+y+z)

In [13]:
t(3,4,5)

12

In [30]:
addnum=lambda a1,b1,c1:(a1+b1+c1)
print("value of numbers is=",addnum(2,5,8))
print("total=",addnum(10,20,30))
print("value of numbers is=",addnum(25,74,84))
print("value of numbers is=",addnum(62,85,28))

value of numbers is= 15
total= 60
value of numbers is= 183
value of numbers is= 175

tempurature calculating

In [ ]:
#converting celcius to farenheight

In [51]:
def farenheight(t):
    return ((9/5)*t +32)

In [52]:
f=farenheight(35)
f

95.0

In [47]:
#converting farenheight to celcius

In [55]:
def celcius(t):
    return (t-32)*(5/9)

In [57]:
c=celcius(95)
c

35.0

In [77]:
def tothepwr():
    x=int(input("Enter value of a Number: "))
    y=int(input("Enter to the power value:"))
    result=lambda x,y:x**y
    print(result(x,y))

In [78]:
tothepwr()

Enter value of a Number: 8
Enter to the power value:6
262144

In [81]:
def powerfunc():
    a=int(input("enter any value"))
    b=int(input("enter any value"))
    c=lambda a,b:a**b
    print (c(a,b))

In [82]:
powerfunc()

enter any value5
enter any value6
15625