# PANDA

In [1]:
import pandas as pd

In [2]:
import numpy as np

In [3]:
p=pd.Series([2,4,6,8,10,12])

In [4]:
p

0     2
1     4
2     6
3     8
4    10
5    12
dtype: int64

In [5]:
p=pd.Series(["abc","bcd","cde","def"])

In [6]:
p

0    abc
1    bcd
2    cde
3    def
dtype: object

In [7]:
p=pd.Series([2,4,6,8,10,12],index=[1,2,3,4,5,6])

In [8]:
p

1     2
2     4
3     6
4     8
5    10
6    12
dtype: int64

In [9]:
p=pd.Series([2,4,6,8,10,12],index=[1,2,3,4,5,6],dtype=float)

In [10]:
p

1     2.0
2     4.0
3     6.0
4     8.0
5    10.0
6    12.0
dtype: float64

In [11]:
p=pd.Series([2,4,6,8,10,12],index=[1,2,3,4,5,6])
print(p[5])

10

In [12]:
data=np.array([2,4,6,8,10,12])

In [13]:
data

array([ 2,  4,  6,  8, 10, 12])

In [14]:
a=pd.Series(data)

In [15]:
a

0     2
1     4
2     6
3     8
4    10
5    12
dtype: int32

In [16]:
p=pd.Series([2,4,6,8,10,12])
print(p[0:3])

0    2
1    4
2    6
dtype: int64

In [17]:
p[5]

12

In [18]:
p[1:4]

1    4
2    6
3    8
dtype: int64

In [19]:
demodict={"name":"sash","id":102}
s1=pd.Series(demodict)
print(s1)

name    sash
id       102
dtype: object

In [20]:
demodict1={"name":"kalpi","id":103,"place":"kolkata","salary":20000}
s2=pd.Series(demodict1)
print(s2)

name        kalpi
id            103
place     kolkata
salary      20000
dtype: object

# PANDAS DATAFRAME

In [21]:
s=pd.DataFrame([[10,20,30,40,50,60],[101,102,103,104,105,106]])
print(s)

     0    1    2    3    4    5
0   10   20   30   40   50   60
1  101  102  103  104  105  106

In [22]:
data1=pd.DataFrame([["name","roll","place"],["kish",20,"malashwar"]])
s1=(data1)
print(s1)

      0     1          2
0  name  roll      place
1  kish    20  malashwar

In [23]:
data2=[["KRISH",20,"kolkata"],["shrey",20,"Saltlake"],["Rajdeep",25,"malashwar"]]
s2=pd.DataFrame(data2,columns=["name","roll","place"])
print(s2)

      name  roll      place
0    KRISH    20    kolkata
1    shrey    20   Saltlake
2  Rajdeep    25  malashwar

In [24]:
data3=[["KRISH",20,"kolkata"],["shrey",20,"Saltlake"],["Rajdeep",25,"malashwar"]]
s4=pd.DataFrame(data3,columns=["name","roll","place"],dtype=float)
print(s4)

      name  roll      place
0    KRISH  20.0    kolkata
1    shrey  20.0   Saltlake
2  Rajdeep  25.0  malashwar

C:\Users\Shreyasi  Saha\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3444: FutureWarning: Could not cast to float64, falling back to object. This behavior is deprecated. In a future version, when a dtype is passed to 'DataFrame', either all columns will be cast to that dtype, or a TypeError will be raised
  exec(code_obj, self.user_global_ns, self.user_ns)

In [25]:
demodict2=({"name":"kalpi","id":103,"place":"kolkata","salary":20000},{"name":"keem","id":105,"place":"kashmir","salary":50000})
s3=pd.DataFrame(demodict2)
print(s3)

    name   id    place  salary
0  kalpi  103  kolkata   20000
1   keem  105  kashmir   50000

In [26]:
demodict3={"name":["kalpi","keem","mishe"],"idno":[20,21,22]}
s5=pd.DataFrame(demodict3)
print(s5)

    name  idno
0  kalpi    20
1   keem    21
2  mishe    22

In [27]:
demodict4=[{'a':"fishe","b":22},{"a":"meate","b":35,"c":"himachal"}]
b=pd.DataFrame(demodict4)
print(b)

       a   b         c
0  fishe  22       NaN
1  meate  35  himachal

In [28]:
demodict5=[{'a':"fishe","b":22},{"a":"meate","b":35,"c":"himachal"}]
c=pd.DataFrame(demodict5,dtype=float)
print(c)

       a     b         c
0  fishe  22.0       NaN
1  meate  35.0  himachal

C:\Users\Shreyasi  Saha\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3444: FutureWarning: Could not cast to float64, falling back to object. This behavior is deprecated. In a future version, when a dtype is passed to 'DataFrame', either all columns will be cast to that dtype, or a TypeError will be raised
  exec(code_obj, self.user_global_ns, self.user_ns)

In [29]:
demodict5=[{'a':"fishe","b":22},{"a":"meate","b":35,"c":"himachal"}]
c=pd.DataFrame(demodict5,index=["first","second"],dtype=float)
print(c)

            a     b         c
first   fishe  22.0       NaN
second  meate  35.0  himachal

C:\Users\Shreyasi  Saha\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3444: FutureWarning: Could not cast to float64, falling back to object. This behavior is deprecated. In a future version, when a dtype is passed to 'DataFrame', either all columns will be cast to that dtype, or a TypeError will be raised
  exec(code_obj, self.user_global_ns, self.user_ns)

In [30]:
demodict6=[{'a':"fishe","b":22},{"a":"meate","b":35,"c":"himachal"}]
c1=pd.DataFrame(demodict6,index=["first","second"],columns=['a','b'])
print(c1)

            a   b
first   fishe  22
second  meate  35

In [35]:
df=pd.DataFrame(np.random.randn(6,4),columns=["a","b","c","d"])
print(df)

          a         b         c         d
0 -0.284495 -0.543963 -2.065001  1.173692
1 -1.965808 -0.429736 -1.277571 -3.094914
2 -0.948014 -0.546685 -1.055566  1.554560
3 -0.348770  0.204351  0.347436  0.611323
4  0.171237 -0.001907 -1.187860 -1.012267
5  0.843276  0.068979  1.673743  2.904100

In [36]:
df=pd.DataFrame(np.random.randn(6,4))
print(df)

          0         1         2         3
0  0.051927  0.424142  0.614002  0.669602
1  0.710154  0.755389 -1.936652 -0.655441
2  0.852921  0.926420  1.594863 -0.995111
3  0.461636  0.543470  2.830306  1.488322
4 -0.050572  0.107005  0.687248 -1.058292
5 -1.301109 -1.416569  0.496861 -0.071292

In [39]:
df.loc[:,3]

0    0.669602
1   -0.655441
2   -0.995111
3    1.488322
4   -1.058292
5   -0.071292
Name: 3, dtype: float64

In [ ]:
df.loc[:,["c","d"]]

In [ ]:
df1=pd.DataFrame(np.random.randn(7,4),columns=[1,2,3,4])
print(df1)

In [34]:
df1.iloc[:,0:3]

NameError: name 'df1' is not defined

In [ ]:
df1.iloc[1:5,0:3]

In [ ]:
df1.iloc[0:2,:]

In [ ]:
df1.iloc[3:4,2:3]

NEGATIVE INDEX

In [ ]:
df1=pd.DataFrame(np.random.randn(7,4),columns=[1,2,3,4])
print(df1)

In [ ]:
df1.iloc[:,-3]

In [ ]:
df1.iloc[:-5,:]

In [ ]:
df1.iloc[:-5,:-3]

In [ ]:
df1.iloc[1:5,:-3]

In [ ]:
df1.iloc[:,-4:]